:root {
  --primary-color: #514525;
  /* --secondary-color: ;
  --light-color: ; */
  --dark-color: #151412;
  --light-dark-color: #1E1E1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro'; 
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  background: var(--dark-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
}

/* Nav Section */

a {
  text-decoration: none;
  cursor: pointer;
}

/* Utilities */

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

.btn {
  border-radius: 0;
}

.btn-primary, .btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  opacity: 0.8;
}

.dark-gray {
  background: var(--dark-color);
}

.light-gray {
  background: var(--light-dark-color);
}

.mt-7 {
  margin-top: 5rem;
}

/* Navigation bar*/

.nav-item {
  margin-right: 1.3rem;
}

.navbar ul li a{
  font-family: 'Playfair Display', serif;
}


/* Section - Hero */

#hero {
  background: url('../img/hero.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
}

#hero .overlay {
  height: 100vh;
}

#hero .hero-content {
  height: 90%;
  width: 50%;
  align-items: center;
}


/* Section - About Us */

#about-us {
  background: var(--dark-color);
  padding: 3rem 2rem;
}

#about-us .about-container,
#rooms-suites .rooms-container {
  height: 100%;
}

#about-us .about-img {
  height: 500px;
  background: url('../img/olexandr-ignatov-w72a24brINI-unsplash.jpg') no-repeat center center/cover;
}

/* Section - Rooms and Suites */

#rooms-suites {
  background-color: var(--light-dark-color);
  padding: 3rem 2rem;
}

#rooms-suites .rooms-img {
  height: 500px;
  background: url('../img/rooms-and-suites.jpg') no-repeat center center/cover;
}

/* Section - Our Facilities */

#facilities {
  padding-bottom: 3rem;
}

.facilities-card img {
  height: 400px;
  object-fit: cover;
}

.facilities-card .arrow-btn {
  width: 40px;
  height: 40px;
  margin-top: .5rem;
}

#book-now {
  width: 80%;
}

/* Section - Footer */

#footer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  border-bottom: 1px solid #D8D8D8;
}

#footer ul{
  display: flex;
  align-items: center;
  font-family: 'Playfair Display', serif;
  list-style: none;
  /* margin-top: 29px; */
}

#footer ul a{
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.903504);
  font-size: 12px;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#footer ul li a:last-of-type{
  padding-right: 0;
}

#footer div, ul{
  margin-top: 29px;
  margin-bottom: 12px;
}

#footer2{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

#footer2 p{
  margin-top: 26px;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  color: #F0F0F0;
  text-align: center;
  height: 100%;
}

#footer2 ul{
  display: flex;
  align-items: center;
  list-style: none;
  /* margin-top: 29px; */
}

#footer2 ul a{
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.903504);
  font-size: 16px;
  padding: 0.75rem;
  margin: 18px 4px;
}

#footer2 ul li a:last-of-type{
  padding-right: 0;
}

/* ===================================================================================
                              Facilities Page 
=================================================================================== */

/* Facilities page */

.facility-body {
  background-color: var(--dark-color);
}

/* Facilities nav Section */
#facility-navbar {
  margin: 2rem;
}

.nav-item {
  margin-right: 2.3rem;
  color: fff;
}

.active {
  color: #514525 !important;
}

/* Facilities intro section */

.intro-div {
  margin: 7% 20%;
  text-align: center;
  width: 60%;
}

.intro-heading {
  font-family: 'Playfair Display';
  font-size: 2.5rem;

}

.intro-text {
  color: rgba(255, 255, 255, 0.7);
}

/*Utility class*/
.mt-10 {
  margin-top: 7rem;
}

.mt-6 {
  margin-top: 4rem;
}

.facility-body {
  background-color: var(--dark-color);
}

/* Facilities image-gallery */

.watermark{
  width: 1000px;
  height: 550px;
  position: absolute;
  z-index: -1;
  background-color: var(--light-dark-color);
  top: 30px;
  right: -400px;
}
.watermark--2 {
  position: absolute;
  right: -90px;
}

/* ===================================================================================
                              Responsiveness 
=================================================================================== */

@media(max-width: 768px) {
  #hero .hero-content {
    width: 100%;
    text-align: center;
  }

  .about-img,
  .rooms-img {
    margin-top: 4rem;
  }

  .facility-wrap .col-md-4 {
    margin-bottom: 2rem;
  }

  #book-now {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  footer nav .navbar-brand {
    margin-bottom: 2rem;
  }

  footer div div:last-child, footer nav {
    flex-direction: column;
    text-align: center;
  }

  .social-media a:first-child {
    padding-left: 0;
  }

  #footer{
    flex-direction: column;
    align-items: center;
  }
  
  #footer div{
    display: none;
  }
  
  #footer ul{
    padding-top: 1px;
  }
  
  #footer2 p{
    font-size: 15px;
    margin-top: 30px;
  }
}