:root {
  --primary-color: #514525;
  /* --secondary-color: ;
  --light-color: ; */
  --dark-color: #151412;
  --light-dark-color: #1E1E1C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
}

/*CONTACT PAGE STARTS HERE*/
/*Main area*/
.container1 {
  width: 92%;
  margin: auto;
  box-sizing: border-box;
}

.main {
  padding-top: 40px;
}

.main .main-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 106px;
}
/*Contact form*/
.form-group label {
  color: #A2A2A2;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}

form input {
  min-width: 100%;
  border: none;
  background-color: var(--dark-color);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.67);
}

.my-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

form{
  padding-top: 20px;
}

.form-group {
  margin-bottom: 25px;
}

/*company area*/
.company {
  padding-top: 65px;
  padding-bottom: 60px;
}

.company-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.company h6 {
  padding: 0;
  margin: 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.company p {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}

/*CONTACT FORM MEDIA QUERRIES*/
/* Nav Section */

a {
  text-decoration: none;
  cursor: pointer;
}

/* Utilities */

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

.btn {
  border-radius: 0;
}

.btn-primary, .btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  opacity: 0.8;
}

.dark-gray {
  background: var(--dark-color);
}

.light-gray {
  background: var(--light-dark-color);
}

/* Navigation bar*/
.nav-item {
  margin-right: 1.3rem;
}


/* Section - Hero */

#hero {
  background: url('../img/hero.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
}

#hero .overlay {
  height: 100vh;
}

#hero .hero-content {
  height: 90%;
  width: 50%;
  align-items: center;
}


/* Section - About Us */
#about-us {
  background: var(--dark-color);
  padding: 3rem 2rem;
}

#about-us .about-container,
#rooms-suites .rooms-container {
  height: 100%;
}

#about-us .about-img {
  height: 500px;
  background: url('../img/olexandr-ignatov-w72a24brINI-unsplash.jpg') no-repeat center center/cover;
}

/* Section - Rooms and Suites */

#rooms-suites {
  background-color: var(--light-dark-color);
  padding: 3rem 2rem;
}

#rooms-suites .rooms-img {
  height: 500px;
  background: url('../img/rooms-and-suites.jpg') no-repeat center center/cover;
}

/* Section - Our Facilities */

#facilities {
  padding-bottom: 3rem;
}

.facilities-card img {
  height: 400px;
  object-fit: cover;
}

.facilities-card .arrow-btn {
  width: 40px;
  height: 40px;
  margin-top: .5rem;
}

#book-now {
  width: 80%;
}


/* Section - Footer */

footer nav {
  border-bottom: 1px #eee solid;
}

footer nav.navbar {
  padding: .5rem 0;
}

.social-media a {
  padding-left: 1.5rem;
  color: #fff;
}

.social-media a:hover {
  color: var(--primary-color);
}

/* Responsiveness */

@media(max-width: 768px) {
  #hero .hero-content {
    width: 100%;
    text-align: center;
  }

  .about-img,
  .rooms-img {
    margin-top: 4rem;
  }

  .facility-wrap .col-md-4 {
    margin-bottom: 2rem;
  }

  #book-now {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  footer nav .navbar-brand {
    margin-bottom: 2rem;
  }

  footer div div:last-child, footer nav {
    flex-direction: column;
    text-align: center;
  }

  .social-media a:first-child {
    padding-left: 0;
  }

  /*CONTACT FORM RESPONSIVENESS*/
  @media (max-width:1000px) {
    .main .main-section {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

 @media (max-width:768px) {
   .main .main-section {
     display: grid;
     grid-template-columns: 1fr;
   }
 }
